/* fonts */

@font-face {
    font-family : Nunito;
    src : url("fonts/Nunito-Regular.ttf");
    font-weight : 500;
}

@font-face {
    font-family : Nunito;
    src : url("fonts/Nunito-Bold.ttf");
    font-weight : 700;
}

@font-face {
    font-family : Nunito;
    src : url("fonts/Nunito-Light.ttf");
    font-weight : 100;
}

body {
	font-family: Nunito;
}